/* Start of <Button /> component */

.button {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    min-width: 150px;
    transition: all .3s ease;
}

.button p {
    color: var(--text-dark);
}

/* Start of <Button /> variants */

.button.btn {
    background: var(--primary-btn-gradient);
}

.button.btn:hover {
    background: var(--primary-btn-gradient-hover);
}

.button.link {
    background-color: transparent;
    border: none;
}

.button.link:hover {
    background-color: var(--orange);
}

.button.save-btn {
    background: var(--success-btn-gradient);

}

.button.save-btn:hover {
    background: var(--success-btn-gradient-hover);
}

.button.cancel-btn {
    background-color: var(--red);

}

.button.cancel-btn:hover {
	background-color: var(--critical-btn-hover-bg-color);
}

.button.delete-btn,
.button.close-btn {
    border-radius: 50px;
    float: right;
    height: 25px;
    width: 25px;
    padding: 10px;
    min-width: 0;
}

.button.delete-btn span,
.button.close-btn span {
    font-size: 20px;
    color: var(--text-dark);
}

.button.close-btn span {
	font-size: 25px;
}

.button.delete-btn:hover {
    background: rgba(34, 34, 34, 0.50);
}

.button.reset-btn p {
    color: var(--blue);
    transition: all .3s ease;
}

.button.reset-btn:hover p {
    color: var(--blue-hover);
}

.button.select-btn {
    background-color: transparent;
    width: 100%;
    transition: all .3s ease;
}

.button.select-btn:hover {
    background-color: var(--blue-hover);
}

.button.select-btn p {
    color: #fff;
}

/* End of <Button /> variants */

/* End of <Button /> Component */