.container {
    align-items: flex-start;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.column {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 175px;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.column.grow {
    width: 300px;
}

.container .selected_cat {
    border-right: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
    height: 35px;
    width: 100%;
    transition: all .3s ease-in-out;
}

.container .selected_cat.deploy_cats {
    border-radius: 5px 0px 0px 0px;
}

.cats_container {
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    width: 300px;
    overflow: hidden;
    top: 35px;
    position: absolute;
    height: 300px;
    max-height: 500px;
    z-index: 100;
    -webkit-transition: height .3s ease-in-out .3s;
    -moz-transition: height .3s ease-in-out .3s;
    -o-transition: height .3s ease-in-out .3s;
    transition: height .3s ease-in-out .3s;
}

.cats_container.hidden {
    height: 0px;
    width: 0px;
}

.cats_container ul {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
		height: 100%;
    overflow-y: scroll;
}


.cats_container ul li {
    border-bottom: solid 1px var(--black-hover);
    height: 35px;
    width: 100%;
} 

.cats_container ul li:last-of-type {
    border-bottom: none;
}

.cats_container ul li:first-of-type {
    border-top: solid 1px var(--black-hover);

}

.cat_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 5px;
    width: 100%;
    text-align: left;
}

.cat_btn:hover {
    background-color: var(--blue-hover);
}

.deploy_btn {
    align-items: center;
    border: none;
    border-left: solid 1px var(--black-hover);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
    transition: all .3s ease-in-out;
}

.deploy_btn span.rotate {
    transform: rotate(180deg);
}

.highlight {
    background-color: var(--blue-hover);
}
