.container {
	align-items: center;
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	bottom: 30px;
	display: flex;
	position: fixed;
	right: 30px;
	z-index: 2000;
}

.head {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	min-width: 75px;
}

.head span {
	color: var(--text-main-color);
	color: var(--text-dark);
	font-size: 35px;
}

/* Start: Alert head background color (variable) */

.head.info {
	background-color: var(--blue);
}

.head.success {
	background-color: var(--green);
}

.head.success span {
	color: var(--text-dark);
}

.head.warning {
	background-color: var(--yellow);
}

.head.warning span {
	color: var(--text-dark);
}

.head.error {
	background-color: var(--red);
}

/* End: Alert head background color (variable) */

.body {
	align-items: center;
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.message {
	width: 100%;
}

.message,
.message h4,
.message p {
	color: var(--text-dark);
	text-align: left;
	white-space: nowrap;
	width: fit-content;
	padding: 0;
}

.btn_container {
	align-items: center;
	display: flex;
	justify-content: center;
	min-width: 50px;
	min-height: 50px;
}

/* Start: Alert state (variable) */

.container.active {
	overflow: hidden;
	min-width: 500px;
	max-width: fit-content;
	height: 100px;
	transition: all .3s ease;
}

.container.inactive {
	min-width: 0px;
	max-width: 0px;
	height: 0px;
	overflow: hidden;
	transition: all .5s ease;
}

.container.inactive .head span {
	font-size: 0px;
	transition: all .5s ease;
}

.body.inactive {
	width: 0px;
	overflow: hidden;
	padding: 0px;
	transition: all .5s ease;

}

.body.active {
	overflow: hidden;
	width: 100%;
	padding: 20px;
	transition: all .3s ease;
}

.message.inactive {
	width: 0px;
	overflow: hidden;
	padding: 0px;
	transition: all .5s ease;

}

.message.active {
	width: fit-content;
	overflow: hidden;
	transition: all .3s ease;

}