.container {
	align-items: center;
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	bottom: 30px;
	display: flex;
	position: fixed;
	right: 30px;
	overflow: hidden;
	z-index: 1000;
}

.container.active {
	overflow: hidden;
	width: 500px;
	height: 100px;
	transition: all .5s ease-in-out ;
}

.container.inactive {
	width: 0px;
	height: 0px;
	overflow: hidden;
	transition: all .5s ease-in-out ;
}

.icon {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	min-width: 75px;
}

.icon span {
	color: var(--text-main-color);
	color: var(--text-dark);
	font-size: 35px;
}

.container.inactive .icon span {
	font-size: 0px;
	transition: all .5s ease-in-out ;
}

.icon.info {
	background-color: var(--blue);
}

.icon.success {
	background-color: var(--green);
}

.icon.success span {
	color: var(--text-dark);
}

.icon.warning {
	background-color: var(--yellow);
}

.icon.warning span {
	color: var(--text-dark);
}

.icon.error {
	background-color: var(--red);
}

.body {
	align-items: center;
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.body.inactive {
	width: 0px;
	overflow: hidden;
	padding: 0px;
}

.body.active {
	overflow: hidden;
	width: 100%;
	padding: 20px;
}

.message {
	width: 100%;
}

.message,
.message h4,
.message p {
	color: var(--text-dark);
	text-align: left;
	white-space: nowrap;
	width: fit-content;
	padding: 0;
}

.message.inactive {
	width: 0px;
	overflow: hidden;
	padding: 0px;
}

.message.active {
	width: fit-content;
	overflow: hidden;
}

.btn_container {
	align-items: center;
	display: flex;
	justify-content: center;
	min-width: 50px;
	min-height: 50px;
}