.container {
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 1000;
	transition: height .3s ease;
}

.container.inactive {
	height: 0px;
	transition: height .3s ease;
}

.container.active {
	height: 100%;
	transition: height .3s ease;
}

.modal {
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	height: fit-content;
	width: fit-content;
	padding: 20px;
	z-index: 2000;
}

.body {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.body h4 {
	color: var(--text-dark);
}

.buttonContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.buttonContainer button {
	width: 100%;
}
