.menu_container {
    height: 100%;
    width: 100%;
}

.menu_header h3 {
    color: var(--text-white);
    text-align: left;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 3rem;
    text-align: left;
}

.menu ul li {
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding: 10px;
    width: 100%;
    transition: all .3s ease-in-out;
}

.menu ul li:hover {
    background-color: var(--orange);
}

.menu ul li:hover a,
.menu ul li:hover span {
    color: var(--text-dark);
}

.menu ul li a {
    inline-size: 100%;
}

.menu ul li span {
    min-height: 25px;
    min-width: 25px;
}

.menu ul li a,
.menu ul li span {
    color: var(--text-white);
    transition: all .3s ease-in-out;
}